<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.webServer>
    <rewrite>
		<rules>
			<rule name="API Rule" stopProcessing="true">
        <match url="^(api|account|manage)(.*)$" />
        <action type="None" />
		  </rule>

      <!--START REDIRECT TO HTTPS-->
      
      <!--END REDIRECT TO HTTPS-->
      <!--START REDIRECT TO ROOT-->
      <rule name="AngularJS Routes" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>
        <action type="Rewrite" url="/reportes/" />
        <!--END REDIRECT TO ROOT-->
      </rule>
    </rules>
    </rewrite>
  </system.webServer>
    <system.web>
        <identity impersonate="true" />
    </system.web>
</configuration>
