<div class="container-fluid">

  <div class="modal-header">
    <h1 class="modal-title"> {{ title }} </h1>
  </div>

  <div class="modal-body fix">
    <div>
      <strong>Query String:</strong> {{data.queryString}}
    </div>
    <hr>
    <div>
      <strong>Request Headers:</strong> {{data.requestHeaders}}
    </div>
    <hr>
    <div>
      <strong>Request Body:</strong> {{data.requestBody}}
    </div>
    <hr>
    <div>
      <strong>Frontend Exception:</strong> {{data.frontendException}}
    </div>
    <hr>
    <div>
      <strong>Backend Response:</strong> {{data.backendResponse}}
    </div>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark ext" (click)="modalRef.hide()">Close</button>
  </div>

</div>
