.example-container {
  position: relative;
}

.example-table-container {
  position  : relative;
  min-height: 400px;
  max-height: 468px;
  overflow  : auto;
}

table {
  width: 100%;
}



.mat-cell,
.mat-footer-cell {
  font-size: 12px;
}

.mat-row:hover .mat-cell {
  border-color    : currentColor;
  background-color: #9daab17e;
}

.mat-column-id,
.mat-column-username,
.mat-column-timestamp,
.mat-column-requestMethod,
.mat-column-urlRequestBackend,
.mat-column-urlRequestFrontend,
.mat-column-queryString,
.mat-column-statusCode,
.mat-column-aplicacion,
.mat-column-backendResponse {
  padding: 5px;
}

.mat-column-id {
  border-right: 1px solid #b7c0c4;
}

.mat-column-statusCode,
.mat-column-requestMethod {
  text-align: center;
}

td.mat-cell:first-of-type {
  padding-left: 10px;
}

th.mat-header-cell {
  border-color    : #b7c0c4;
  background-color: #9daab17e;
  color           : #494a4b;
}


.mat-column-urlRequestBackend,
.mat-column-urlRequestFrontend {
  word-break: break-all;
}


::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: rgba(0, 0, 0, .1) !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #4285f4 !important;
  /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #4285f4 !important;
  /*outer ring color change*/
}


.mat-flat-button {
  color           : aliceblue;
  background-color: #4285f4;
}

.uppercase {
  text-transform: uppercase;
}

.my-mat-style {
  margin-left    : 5px;
  margin-right   : 5px;
}


#advancedSearch {
  align-self: flex-start;
  text-align: end;
  height: 54px;
}
