.mat-column-id {
  width: 3.5% !important;
  border-right: 1px solid rgb(224 224 224);
  text-align: justify;
}

.mat-column-timestamp {
  width: 7% !important;
  border-right: 1px solid rgb(224 224 224);
  text-align: center;
  padding: 5px;
}

.mat-column-level {
  width: 5% !important;
  border-right: 1px solid rgb(224 224 224);
  text-align: center;
  padding: 5px;
}

.mat-column-valor {
  width: 5% !important;
  border-right: 1px solid rgb(224 224 224);
  text-align: center;
  padding: 5px;
}

.mat-column-renderedMessage {
  width: 20% !important;
  border-right: 1px solid rgb(224 224 224);
  text-align: center;
  padding: 5px;
}

.mat-column-properties {
  word-break: break-all;
  text-align: justify;
  border-right: 1px solid rgb(224 224 224);
  padding: 5px;
}

.mat-column-exception {
  border-bottom: 1px solid rgb(224 224 224);
}

.mat-button {
  border: 0;
  border-radius: .0rem;
  margin-left: 20%;
  border: 1px solid grey!important;
}

::ng-deep .mat-form-field-label{
  font-size: medium !important;
  color:#000 !important;
}

::ng-deep .mat-form-field-underline .mat-form-field-ripple{
  background-color:#000 !important;
}

::ng-deep .mat-form-field-underline{
  background-color: rgba(128, 128, 128, 0.631) !important;
}

tr.mat-header-row {
  background-color:#888a8b8a!important;
}

.mat-header-cell, mat-cell{
  color:#000!important;
  font-size: small;
}

.mat-sort-header-arrow{
  color:#000!important;
}


.Trace{
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(71, 71, 71), 0 0 0.2em black;
  color:greenyellow!important;
}

.Debug{
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(71, 71, 71), 0 0 0.2em black;
  color:violet!important;
}

.Information{
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(71, 71, 71), 0 0 0.2em black;
  color:skyblue!important;
}

.Warning{
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(71, 71, 71), 0 0 0.2em black;
  color:yellow!important;
}

.Error{
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(71, 71, 71), 0 0 0.2em black;
  color:red!important;
}

.Fatal{
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(71, 71, 71), 0 0 0.2em black;
  color:orangered!important;
}

.None{
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(71, 71, 71), 0 0 0.2em black;
  color:white!important;
}
