<!-- <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner> -->

<!-- https://code-maze.com/angular-material-table/ -->
<!-- https://stackoverflow.com/questions/47051485/angular-material-2-table-mat-row-click-event-also-called-with-button-click-in-ma -->

<section class="ss-style-triangles">
  <button type="button" class="btn btn-primary btn-Custom" (click)="loadDataDefaults()" [disabled]="isEnabledBtn"
    style="width: 200px;">Home</button>
  <button type="button" class="btn btn-success btn-Custom" (click)="loadData('micartera')" [disabled]="isEnabledBtn"
    style="width: 200px;">Mi Cartera Logs</button>
  <!-- <button type="button" class="btn btn-success btn-Custom" (click)="loadData('distribucion')" [disabled]="isEnabledBtn"
    style="width: 200px;">Distribución Logs</button> -->
</section>

<div id="fullTable" *ngIf="isEnabledFullTable">
  <div class="container-fluid">
    <mat-form-field>
      <input matInput type="text" (keyup)="doFilter($any($event.target).value)" placeholder="Buscar">
    </mat-form-field>
  </div>

  <div class="container-fluid justifyCenter">

    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha y Hora </th>
        <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
      </ng-container>

      <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Log Level </th>
        <td mat-cell *matCellDef="let element" class="{{element.level}}"> {{element.level}} </td>

      </ng-container>

      <ng-container matColumnDef="renderedMessage">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mensaje renderizado o Usuario del suceso </th>
        <td mat-cell *matCellDef="let element"> {{element.renderedMessage}} </td>
        <!-- <td mat-cell *matCellDef="let element"> {{(element.renderedMessage.length > 50) ? ((element.renderedMessage).slice(0, 50) + '...') : element.renderedMessage}} </td> -->
      </ng-container>

      <ng-container matColumnDef="properties">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Propiedades </th>
        <td mat-cell *matCellDef="let element"> {{element.properties}} </td>
        <!-- <td mat-cell *matCellDef="let element"> {{(element.properties.length > 50) ? ((element.properties).slice(0, 50) + '...') : element.properties}} </td> -->
      </ng-container>

      <ng-container matColumnDef="exception">
        <th mat-header-cell *matHeaderCellDef>Ver Excepción</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button class="btn-outline-dark" (click)="openModal(element.exception)" *ngIf="(element.exception == '') ? false : true">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

  </div>

  <div class="container-fluid">
    <mat-paginator [pageSize]="25" [pageSizeOptions]="[10, 20, 30, 40, 50]"> </mat-paginator>
  </div>
</div>

<div *ngIf="!isEnabledFullTable">

  <div class="container-fluid justifyCenter">

    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
        <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
      </ng-container>

      <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Log Level </th>
        <td mat-cell *matCellDef="let element" class="{{element.level}}"> {{element.level}} </td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsNivel"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsNivel;"></tr>

    </table>

  </div>

<br>

  <div class="container" *ngIf="true">
    <div>
      <h2 style="text-align:center"><u>Serilog ASP.NET Core</u></h2>
      <hr />
      <p style="text-align:center">Los siguientes links presentes son algunos de los que se utilizaron para
        la implementacion del Logger en el proyecto <strong>MiCartera</strong>.</p>
      <p style="text-align:center"><br />
        <a href="https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-5.0">https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-5.0</a>
      </p>
      <p style="text-align:center">
        <a href="https://www.codeguru.co.in/2020/05/serilog-aspnet-core-configuration.html">https://www.codeguru.co.in/2020/05/serilog-aspnet-core-configuration.html</a>
      </p>
      <p style="text-align:center">
        <a href="https://codewithmukesh.com/blog/serilog-in-aspnet-core-3-1/">https://codewithmukesh.com/blog/serilog-in-aspnet-core-3-1/</a>
      </p>
      <p style="text-align:center">
        <a href="https://www.thecodebuzz.com/serilog-database-sql-logging-in-asp-net-core/">https://www.thecodebuzz.com/serilog-database-sql-logging-in-asp-net-core/</a>
    </div>
  </div>

</div>
